<!DOCTYPE html>
<html>

<head>
    <title>Coding website</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Space+Mono&display=swap" rel="stylesheet">
</head>

<body>
    <!-- Header -->
    <div class="header">
        <h1 class="title">Coding questions</h1>
    </div>
    <!-- Navbar -->
    <nav class="navbar">
        <ul class="nav-list">
            <li class="nav-element"><a href="/">Home</a></li>
            <li class="nav-element"><a href="">About</a></li>
            <li class="nav-element"><a href="">Feedback</a></li>
            <li class="nav-element"><a href="">Contact Us</a></li>
        </ul>
    </nav>
    <!-- Description -->
    <div class="container">
        <h2 class="heading">Description</h2>
        <p>
            <%- description.replace(/\n/g, '<br>'); %>

        </p>
        <a href="/">
            <button class="home">Back to home</button>
        </a>
        <a href="/description/edit/<%= id %>">
            <button class="edit-button">Edit</button>
        </a>
        <a href="/code/<%= id %>">
            <button class="code-button">Go to code</button>
        </a>
    </div>
</body>

</html>